body, p, li, td {font-family: Helvetica,Arial,sans-serif; font-size: 18px; }
p, li { line-height: 1.4; }
a {color: rgb(31,91,150); text-decoration: none;}
a:hover {text-decoration: underline;}
ul {list-style-type: square;} 
ul, ol {margin-left: 0px; padding-left: 25px;}
li {margin-bottom:10px; }
h2 {font-size: 24px; margin-bottom: 4px;}

body {margin: 40px 30px; background-color: #fff;}
h1 { margin-top: 0px; font-weight: bold; color: #666; font-size: 40px; margin-bottom: 25px;}
.headshot { margin-left: 60px; }
.container { display: flex;}
.header, .container { max-width: 800px; margin: auto; }
.content { padding: 0px; vertical-align: top;}
.content :first-child { margin-top: 0;}

.links {color: #aaa; padding: 10px; border-radius:3px; text-align: center;}
.links a {color: #aaa; text-decoration: none;}
.links a:hover {text-decoration: underline;}
td {padding: 0px;}
